extends layout

block content
  - var uid = "39493000000000";
  - var defaultKey = "FFFFFF39493000000000";
  - var flagTamperTag ="AA";
  - var flagTamperServer = "N/A";
  - var flagTamperDecision = "N/A";
  
  - var timeStampTag ="01234567";
  - var timeStampServer = "N/A";
  - var timeStampDecision = "N/A";
  
  - var rollingCodeTag ="76543210";
  - var rollingCodeServer = "87654321";
  - var rollingCodeDecision = "Incorrect";

  h1 SIC43NT Demonstration
  table(style='width:75%', border='1')
      tr
        th UID[7]
        td(colspan="3") #{uid}
      tr
        th Default Key
        td(colspan="3") #{defaultKey}
      tr
        td -
        td From Tag
        td From Server
        td Result
      tr
        th Tamper Flag(HEX)
        td #{flagTamperTag}
        td #{flagTamperServer}
        td #{flagTamperDecision}
      tr
        th Time Stamp(DEC)
        td #{timeStampTag}
        td #{timeStampServer}
        td #{timeStampDecision} 
      tr
        th Rolling code(HEX)
        td #{rollingCodeTag}
        td #{rollingCodeServer}
        td #{rollingCodeDecision}     